appnope
asttokens
certifi==2025.4.26
charset-normalizer==3.4.2
contourpy==1.3.2
cycler==0.12.1
debugpy
decorator
exceptiongroup
executing
feather-format==0.4.1
filelock==3.18.0
fonttools==4.58.2
fsspec==2025.5.1
idna==3.10
ipykernel
ipython
jedi
Jinja2==3.1.6
joblib==1.5.1
kiwisolver==1.4.8
llvmlite==0.44.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline
mpmath==1.3.0
nest_asyncio
networkx==3.5
numba==0.61.2
numpy==2.2.6
opencv-python==4.11.0
opencv-python-headless==4.11.0
packaging
pandas==2.3.0
parso
pexpect
pickleshare
pillow==11.2.1
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
pyarrow==20.0.0
pyclipper
pycocotools==2.0.10
Pygments
pyparsing==3.2.3
python-dateutil
pytz==2025.2
PyYAML==6.0.2
pyzmq
requests==2.32.3
scikit-learn==1.7.0
scipy==1.15.3
setuptools==78.1.1
six
stack_data
sympy==1.14.0
tabulate==0.9.0
threadpoolctl==3.6.0
torch==2.7.1
torchvision==0.22.1
tornado
tqdm==4.67.1
traitlets
typing_extensions
tzdata==2025.2
urllib3==2.4.0
wcwidth
wheel==0.45.1
zipp

